* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --cream:  #f2ede4;
  --dark:   #1c1c1c;
  --dark_blue: #171253;
  --border: #c8bfb0;
  --muted:  #7a7060;
  --green-ifsc: #84CB87;
  --red-ifsc: #F55A0A;

}

main {
    flex: 1;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-content {
    background-color: var(--green-ifsc);
    border: none;
}

.add-content:hover {
    background-color: var(--red-ifsc);
}

.card {
    max-width: 300px;
}

.load-more {
    background-color: var(--green-ifsc);
    border: none;
    margin-top: auto;
}

.load-more:hover {
    background-color: var(--red-ifsc);
}